<ion-view title="Detalhes da entidade" id="page5">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button icon ion-android-arrow-back"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <h2 id="detalhesDaEntidade-heading1" style="color:#000000;">Nome da entidade</h2>
    <div id="detalhesDaEntidade-markdown5" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Fundação Patobranquense do Bem Estar. Atendimento a crianças e adolescentes carentes em situação de risco pessoal e social, em regime de semi-internato.</p>
    </div>
    <div style="margin-right:-20px;">
      <button id="detalhesDaEntidade-button13" style="left:-10px;border-radius:0px 0px 0px 0px;" class="button button-energized button-large button-full icon ion-android-done-all"> Escolher minha entidade!</button>
    </div>
  </ion-content>
</ion-view>