<ion-view title="Entidades cadastradas" id="page4">
  <ion-content padding="true" class="has-header">
    <ion-list id="entidadesCadastradas-list1">
      <ion-item class="item-divider" id="entidadesCadastradas-list-item-divider3"> Selecione uma entidade:</ion-item>
      <ion-item class="item-avatar item-icon-right" id="entidadesCadastradas-list-item3">
        <h2>Fundabem - Pato Branco</h2>
        <i class="icon ion-android-checkbox"></i>
      </ion-item>
      <ion-item class="item-avatar" id="entidadesCadastradas-list-item5">
        <h2>Apae - Pato Branco</h2>
      </ion-item>
      <ion-item class="item-avatar" id="entidadesCadastradas-list-item7">
        <h2>Lar dos Idosos São Vicente de Paula</h2>
      </ion-item>
      <ion-toggle toggle-class="toggle-positive" ng-checked="true" id="entidadesCadastradas-toggle1">Enviar automaticamente</ion-toggle>
    </ion-list>
  </ion-content>
</ion-view>