<ion-view title="Início" id="page3">
  <ion-content padding="true" class="has-header">
    <ion-list id="inCio-list3">
      <ion-item class="item-icon-left item-icon-right energized" id="inCio-list-item18">
        <i class="icon ion-arrow-right-a"></i>23 Notas doadas
        <i class="icon ion-android-checkmark-circle"></i>
      </ion-item>
    </ion-list>
    <div id="inCio-button-bar2" class="button-bar">
      <button id="inCio-button10" class="button button-positive button-large button-block icon ion-social-facebook"></button>
      <button id="inCio-button11" class="button button-balanced button-large button-block icon ion-social-whatsapp"></button>
      <button id="inCio-button12" class="button button-positive button-large button-block icon ion-social-twitter"></button>
    </div>
    <ion-list id="inCio-list2">
      <ion-item class="item-divider" id="inCio-list-item-divider2"> Notas enviadas:</ion-item>
      <ion-item class="item-icon-right" id="inCio-list-item11">05602056023021560230303032030303
        <span class="item-note">03/02/2017</span>
        <i class="icon ion-alert"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="inCio-list-item12">256215215620230230230561562303000
        <span class="item-note">02/02/2017</span>
        <i class="icon ion-android-favorite-outline"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="inCio-list-item13">604360375075097359379349173529755
        <span class="item-note">15/01/2017</span>
        <i class="icon ion-android-favorite-outline"></i>
      </ion-item>
    </ion-list>
    <div class="list card" id="inCio-card21"></div>
  </ion-content>
</ion-view>