<ion-view id="page1">
  <ion-tabs class="tabs-energized tabs-icon-top" id="tabsController-tabs1">
    <ion-tab title="Doar notas" icon="ion-ios-camera" href="#/page1/doar" id="tabsController-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Notas Doadas" icon="ion-ios-list" href="#/page1/inicio" id="tabsController-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Entidades" icon="ion-android-favorite-outline" href="#/page1/entidades" id="tabsController-tab3">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>